*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    /* border: 2px solid black; */
    width: 1000px;
    
  height: 600px;
  margin: 50px auto;
  background-color: orangered!important;
  border-radius: 10px;
} 
 main{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
} 
aside{
    width: 300px;
    margin: auto;
}
h1{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}
p{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
}
section{
   margin-top: 50px;
}
form{
    /* border: 2px solid green;  */
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px; 
    height: 450px;
    width: 400px;
    margin-right: 10px;
    margin-top: 30px;
}
strong{
background-color: hsl(248, 32%, 49%) ;
font-size: 16px;
padding: 12px 60px;
border-radius: 10px;
box-shadow: 0 10px 4px rgba(0, 0, 0, 0.4);
  }
input{
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    padding: 1em 3em;
    width: 80%;
}
input:hover{
    border: 1px solid hsl(249, 44%, 46%) ;
}
input::placeholder{
    color: hsl(249, 10%, 26%) ;
}
#button-btn{
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-size: 16px;
    border: none;
    padding: 1em 3em;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 4px black;
}
.hide{
    /* overflow: hidden; */
    display: none;
    text-transform: capitalize;
   color:hsl(0, 100%, 74%) ;
   font-size: 600;
   /* display: flex;
   align-items:flex-end;
   justify-self:right;
   text-align: right; */
   /* border: 1px solid hsl(246, 25%, 77%);
   margin-right: 5px; */
}
h3{
    Font-size: 12px;
    font-weight: 400;
}
span{
    color:hsl(0, 100%, 74%) ;
}